{% load markdownify %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- icone favicon -->
    <link rel='shortcut icon'  type='image/png'  href="{% static 'blog/favicon.png' %}"/>    <title>Draft List</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'DraftPage/style.css' %}">
    <link rel="stylesheet" href="{% static 'DetailPage/zenburn.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">CodePython</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto">

                        <li class="nav-item ">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>

                        {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'post_new' %}">Create Post <span
                                    class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'post_draft_list' %}">Draft Post</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout_view' %}">Logout</a>
                        </li>
                        {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>

                        {% endif %}
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    
    
    
    
    <section class="blog" id="blog">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                    <div class="col1">
                        <div class="blogpost" data-aos="fade-up-right" data-aos-delay="500" data-aos-duration="1000">
                            <div class="imgBx">
                                {% if post.image %}
                                <img src="{{ post.image.url }}" class="img-fluid">
                                {% endif %}
                            </div>
                            <div class="content">
                                <h1>{{ post.title }}</h1>
                                <p>{{ post.text |markdown | safe }}</p>
                                <h5 class="content-published-date">{{ post.created_date }}</h5>
                                <div style=" float:right;">
                                    <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-primary" style="color:#fff;">Publish
                                        now</a>
                                    <a href="{% url 'delete_post' pk=post.pk %}" class="btn"
                                        style="background:brown; margin:  0 10px; color:#fff;">Delete</a>
                                    <a href="{% url 'post_edit' pk=post.pk %}" class="btn" style="background:yellow; ">Edit</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="sci">

                        <li><a href=""> <i class="fa fa-facebook"></i>

                        <li><a href=""> <i class="fa fa-linkedin"></i>

                    </ul>
                    <p class="cpryt">
                        <a href="">© copyright 2019 Nature | Template by Omdaprog</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>







































