{% extends 'blog/base.html' %}


{% block title %}
    Draft list 
{% endblock %}


{% block content %}
    {% for post in posts %}
    <div class="on-content">
        <a href="{% url 'post_detail' pk=post.pk %}" ><h1 class="post-title">{{ post.title }}</h1></a>
        <p>{{ post.text|linebreaksbr }}</p>
        <h5 class="content-published-date">{{ post.created_date }}</h5>
    </div>
    <p>
        <a href="{% url 'post_publish' pk=post.pk %}"><i class="fas fa-upload "></i></a>
    </p>
    {% endfor %}
{% endblock %}