{% extends 'blog/base.html' %}

{% block title %}
    Edit Page
{% endblock %}

{% block content %}
<div class="post_edit_form">
    <h1>Edit Post</h1>
        <form method="POST" class="post-form-blog">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit" class="btn btn-primary">SAVE</button>
        {% if post.pk %}
            <a href="{% url 'post_publish' pk=post.pk %}"><i class="fas fa-upload"></i></a>
        {% endif %}
    </form>
    
</div>
{% endblock %}